Import-Module VMware.PowerCLI

$vcsa = 'vcsa-1.local.lan'
$esxihosts = 'esxinuc1.local.lan', 'esxinuc2.local.lan', 'esxinuc3.local.lan'

# Write-Host "Connect to $vcsa"
Connect-VIServer $vcsa -credential administrator@vsphere.local -password {{ lookup('hashi_vault', 'secret=secret/vsphere/vcsa:vsphere_password') }}

# Write-Host "Shutdown all non vcsa/vCLS VMs"
Get-VM | Where-Object { !($_.Name -match 'vCLS' -Or $_.Name -match 'vcsa-1') -And $_.PowerState -eq 'PoweredOn'} | Shutdown-VMGuest -Confirm:$false

# Write-Host "vMotion vcsa-1 to esxinuc1"
Move-VM -VM vcsa-1 -Destination esxinuc1.local.lan

# Write-Host "Shutodwn vcsa-1"
Shutdown-VMGuest -VM vcsa-1 -Confirm:$false

# Write-Host "Disconnect from $vcsa"
Disconnect-VIServer -Confirm:$false

# Shutdown VMs on each host, set ESXi hosts to maintenance mode (no vSAN data migration), and shutdown ESXi hosts
Foreach ($esxihost in $esxihosts) {
        # Write-Host "Connect to $esxihost"
        Connect-VIServer $esxihost -credential root -password {{ lookup('hashi_vault', 'secret=secret/ssh/eingram:ssh_password') }}
        # Write-Host "Shutdown running VMs on $esxihost"
        Get-VM | Where-Object { $_.PowerState -eq 'PoweredOn'} | Shutdown-VMGuest -Confirm:$false
        $startTime = Get-Date
        Do {
                Start-Sleep -s 5
                # Write-Host "Waiting for VMs to shutdown gracefully..."
        } While (((Get-VM | Where-Object { $_.PowerState -eq 'PoweredOn' })) -And ($startTime.AddMinutes(5) -gt (Get-Date)))
        # Write-Host "Power off VMs that did not gracefully shut down"
        Get-VM | Where-Object { $_.PowerState -eq 'PoweredOn'} | Stop-VM -Confirm:$false
        # Write-Host "Set $esxihost to maintenance mode"
        Set-VMHost -State "Maintenance" -VsanDataMigrationMode NoDataMigration
        # Write-Host "Shutdown $esxihost"
        Stop-VMHost -RunAsync -Confirm:$false -Force
        # Write-Host "Disconnect from $esxihost"
        Disconnect-VIServer -Confirm:$false
}
