discovery.relabel "logs_default_journal" {
	targets = []

	rule {
		source_labels = ["__journal__systemd_unit"]
		target_label  = "unit"
	}
}

loki.source.journal "logs_default_journal" {
	max_age       = "12h0m0s"
	path          = "/var/log/journal"
	relabel_rules = discovery.relabel.logs_default_journal.rules
	forward_to    = [loki.write.logs_default.receiver]
	labels        = {
		job = "systemd-journal",
	}
}

loki.write "logs_default" {
	endpoint {
		url = "http://loki.local.lan:3100/loki/api/v1/push"
	}
	external_labels = {
		env      = "{{ env }}",
		hostname = "{{ inventory_hostname }}",
	}
}

prometheus.exporter.self "integrations_agent" { }

discovery.relabel "integrations_agent" {
	targets = prometheus.exporter.self.integrations_agent.targets

	rule {
		target_label = "job"
		replacement  = "integrations/agent"
	}
}

prometheus.scrape "integrations_agent" {
	targets    = discovery.relabel.integrations_agent.output
	forward_to = [prometheus.remote_write.integrations.receiver]
	job_name   = "integrations/agent"
}

prometheus.remote_write "integrations" {
	external_labels = {
		env = "{{ env }}",
		hostname = "{{ inventory_hostname }}",
	}

	endpoint {
		url = "http://prom.local.lan:9090/api/v1/write"

		queue_config { }

		metadata_config { }
	}
}

prometheus.exporter.unix "integrations_node_exporter" {
	procfs_path    = "/host/proc"
	sysfs_path     = "/host/sys"
	rootfs_path    = "/host/root"
	udev_data_path = "/host/root/run/udev/data"
}

discovery.relabel "integrations_node_exporter" {
	targets = prometheus.exporter.unix.integrations_node_exporter.targets

	rule {
		target_label = "job"
		replacement  = "integrations/node_exporter"
	}
}

prometheus.scrape "integrations_node_exporter" {
	targets    = discovery.relabel.integrations_node_exporter.output
	forward_to = [prometheus.remote_write.integrations.receiver]
	job_name   = "integrations/node_exporter"
}

prometheus.exporter.process "integrations_process_exporter" {
	matcher {
		name    = "{{ '{{' }}.Comm{{ '}}' }}"
		cmdline = [".+"]
	}
	procfs_path = "/host/proc"
}

discovery.relabel "integrations_process_exporter" {
	targets = prometheus.exporter.process.integrations_process_exporter.targets

	rule {
		target_label = "job"
		replacement  = "integrations/process_exporter"
	}
}

prometheus.scrape "integrations_process_exporter" {
	targets    = discovery.relabel.integrations_process_exporter.output
	forward_to = [prometheus.remote_write.integrations.receiver]
	job_name   = "integrations/process_exporter"
}
