apiVersion: 1
datasources:
  - name: Prometheus
    type: prometheus
    url: http://prom.local.lan:9090
    access: proxy
    isDefault: true
    uid: prom
    jsonData:
      timeInterval: '60s'
      prometheusType: 'Prometheus'
  - name: Influxdb
    type: influxdb
    url: http://homenas.local.lan:8086
    access: proxy
    secureJsonData:
      token: {{ lookup('hashi_vault', 'secret=secret/influxdb:token') }}
    jsonData:
      version: Flux
      organization: Homelab
      defaultBucket: HA
      tlsSkipVerify: true
    editable: true
    uid: influx
  - name: Loki
    type: loki
    url: http://loki.local.lan:3100
    access: proxy
    uid: loki
