server:
  log_level: info

metrics:
  wal_directory: /tmp/agent
  global:
    scrape_interval: 60s
    scrape_timeout: 10s
    external_labels:
      env: {{ env }}
    remote_write:
    - url: http://prom.local.lan:9090/api/v1/write

logs:
  configs:
  - name: default
    positions:
      filename: /tmp/positions.yaml
    scrape_configs:
      # - job_name: varlogs
      #   static_configs:
      #     - targets: [localhost]
      #       labels:
      #         job: varlogs
      #         __path__: /var/log/*log
      # - job_name: messages
      #   static_configs:
      #     - targets: [localhost]
      #       labels:
      #         job: messages
      #         __path__: /var/log/messages
      - job_name: journal
        journal:
          json: false
          max_age: 12h
          path: /var/log/journal
          # matches: _TRANSPORT=kernel
          labels:
            job: systemd-journal
        relabel_configs:
          - source_labels: ['__journal__systemd_unit']
            target_label: 'unit'
          - source_labels: ['__journal__hostname']
            target_label: 'hostname'
    clients:
      - url: http://loki.local.lan:3100/loki/api/v1/push
        external_labels:
          hostname: {{ inventory_hostname }}
          env: {{ env }}

integrations:
  agent:
    enabled: true
  node_exporter:
    enabled: true
    rootfs_path: /host/root
    sysfs_path: /host/sys
    procfs_path: /host/proc
    udev_data_path: /host/root/run/udev/data
  process_exporter:
    enabled: true
    process_names:
    - name: "{{ '{{' }}.Comm{{ '}}' }}"
      cmdline:
      - '.+'
    procfs_path: "/host/proc"